.container1{
    height:60px;
    width: 100%;
    background-color: rgb(36, 112, 164);
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
    


body{
    background-color: rgb(1, 77, 113);
}