body{
    background-color: rgb(34, 43, 72);
    background-repeat: no-repeat;
    background-size: cover;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.container1{
    background-image: url("Gamepg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(7, 10, 14,0.8);
    height: 500px;
    width: 500px;
    margin: 100px auto;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 
}

.container1 img {
    margin-top: 30px; /* Adjust as needed */
}
.container2{
    background-color:rgba(84, 107, 198, 0.35);
    height: 500px;
    width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0px;
    
}




.wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr); /* Single column */
  
 
}

input[type="text"] {
   
   
    border-radius: 10px;
    background-color:rgba(1, 195, 220,0.35);
    color: black;
    border: none;
    height: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   

    
}

input[type="text"], input[type="password"] {
    border-radius: 10px;
    background-color: transparent; /* Make the background transparent */
    color: white; /* Text color */
    border: 2px solid white; /* White border */
    height: 35px;
    width: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px; /* Add padding for better text positioning */
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: white; /* Set placeholder text color */
}
.btn{
    width: 30%;
    padding: 12px;
    margin: 7px;
    background-color:rgba(248, 245, 239);
    border-radius: 15px;
    position: relative;
    margin-left: 1px;
    height: 50px;
    width: 100px;
}

::placeholder {
    color: #000000; }